.userListOfContacts {
  width: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  grid-area: contacts;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "ava name";
}

.userListOfContacts a {
  color: black;
  text-decoration: unset;
  grid-area: name;
  padding: 10px;
}

.userListOfContacts a[class="active"] {
  color: gold;
}

.userAvatarInListOfContacts {
  width: 40px;
  border-radius: 50px;
}

.imgContainer{
  grid-area: ava;
}