.activeChatWithUser{
  grid-area: messages;
}
.messageFromActiveChat{
    padding-top: 5px;
    padding-bottom: 5px;
}
.textareaBlock {
  padding-top: 20px;
  display: block;
}

.textareaButton {
  margin: 0 auto;
}